.top-section {
    height: 40vh;
    margin: 0px auto;
    display: flex;
    flex-direction: column;
}

.font-title {
    font-size: 60px;
    font-weight: 400;
}

.b-example-divider {
    width: 100%;
    height: 10px;
    border-width: 1px 0;
    background-color: #2c7fbf;
}

body {
    min-width: 330px;
}

.my-button {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: white;
    border: none;
    position: relative;
}

.line {
    padding: 0;
    border-top: 2px solid black;
    position: absolute;
    left: 10px;
}

.line1 {
    width: 30px;
    top: 17px;
}

.line2 {
    width: 18px;
    margin-left: 12px;
    top: 24px;
}

.line3 {
    width: 30px;
    bottom: 17px;
}

@media screen and (max-width: 400px) {

    /* If the window width is less than 400px */
    .width-setter {
        width: 100% !important;
    }
}

/* If the window width is 400px or more */
.width-setter {
    width: 75%;
}

@media screen and (max-width: 400px) {

    /* If the window width is less than 400px */
    .navbar-width {
        width: 100% !important;
    }
}
.navbar-width {
    width: 75%;
}
